p {
    font-size: large;
    color:black;
    font-family: "Roboto", sans-serif;
}
#ps{
    font-size: large;
    color:black;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
#ch{
    font-size: 15px;
    color:black;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
#mch{
    font-size: 13px;
    color:black;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
#barraprincipal{
    width: 80%; 
    margin: 0 auto; 
    background-color:rgb(225, 227, 210);
    color: black; 
    padding: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    text-align: center;
  }
body{
    background-color: rgb(235, 248, 255);
}
#barrainfo{
    background-color: white;
    color: black; 
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#textobarraprincipal{
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.image-container {
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    display: block;
  }

.link{
    color: rgb(12, 166, 255);
}
.prueba{
    margin: auto;
    text-align: center;
}
hr{
    border-color: rgb(121, 206, 255);
}
